$NavyBlue: #18121E;
$GunMetal: #233237;
$RustyRed: #984B43;
$WarmYellow: #EAC67A;
$ColdYellow: rgb(238, 225, 198);
$ColdOrange: rgb(238, 213, 198);
$ColdRed: rgb(238, 198, 198);
$ColdViolet: rgb(237, 198, 238);
$ColdIndigo: rgb(210, 198, 238);
$ColdBlue: rgb(198, 222, 238);

$TescoBlue: #00539F;
$TescoRed: #EE1C2E;

$LepLightPurple: #73527C;
$LepDarkPurple: #372741;

$DWPLightGreen: #00BEB7;
$DWPDarkGreen: #37807B;

$NMLightGrey: #333645;
$NMDarkGrey: #22242e;

$CCNPurple: #923A8E;
$CCNYellow: #F6A200;
$CCNRed: #E42313;

$CNSBlue: #224778;
$CNSOrange: #f1a93f;
$CNSWhite: #fcfcfc;